@import "bourbon@5.*";
 body {
	 background-color: #E7DFCC;
}
 #tableaucrypto {
	 color: white;
	 text-align: center;
}
 body {
	 color: white;
}
 a {
	 color: rgba(38, 137, 13, 1);
}
 a:hover, a:focus {
	 color: rgba(4, 106, 56, 1);
}
 .container {
	 margin: 5% 3%;
}
 @media (min-width: 48em) {
	 .container {
		 margin: 2%;
	}
}
 @media (min-width: 75em) {
	 .container {
		 margin: 2em auto;
		 max-width: 95%;
	}
}
 .responsive-table {
	 width: 100%;
	 margin-bottom: 1.5em;
	 border-spacing: 0;
}
 @media (min-width: 48em) {
	 .responsive-table {
		 font-size: 0.9em;
	}
}
 @media (min-width: 62em) {
	 .responsive-table {
		 font-size: 1.5em;
	}
}
 .responsive-table thead {
	 position: absolute;
	 clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	 padding: 0;
	 border: 0;
	 height: 1px;
	 width: 1px;
	 overflow: hidden;
}
 @media (min-width: 48em) {
	 .responsive-table thead {
		 position: relative;
		 clip: auto;
		 height: auto;
		 width: auto;
		 overflow: auto;
	}
}
 .responsive-table thead th {
	 background-color: #08d;
	 border: 1px solid white;
	 font-weight: normal;
	 text-align: center;
	 color: white;
}
 .responsive-table thead th:first-of-type {
	 text-align: center;
}
 .responsive-table tbody, .responsive-table tr, .responsive-table th, .responsive-table td {
	 display: block;
	 padding: 0;
	 text-align: left;
	 white-space: normal;
}
 @media (min-width: 48em) {
	 .responsive-table tr {
		 display: table-row;
	}
}
 .responsive-table th, .responsive-table td {
	 padding: 0.5em;
	 vertical-align: middle;
}
 @media (min-width: 30em) {
	 .responsive-table th, .responsive-table td {
		 padding: 0.75em 0.5em;
	}
}
 @media (min-width: 48em) {
	 .responsive-table th, .responsive-table td {
		 display: table-cell;
		 padding: 0.5em;
	}
}
 @media (min-width: 62em) {
	 .responsive-table th, .responsive-table td {
		 padding: 0.75em 0.5em;
	}
}
 @media (min-width: 75em) {
	 .responsive-table th, .responsive-table td {
		 padding: 0.75em;
	}
}
 .responsive-table caption {
	 margin-bottom: 1em;
	 font-size: 1em;
	 font-weight: bold;
	 text-align: center;
}
 @media (min-width: 48em) {
	 .responsive-table caption {
		 font-size: 1.5em;
	}
}
 .responsive-table tfoot {
	 font-size: 0.8em;
	 font-style: italic;
}
 @media (min-width: 62em) {
	 .responsive-table tfoot {
		 font-size: 0.9em;
	}
}
 @media (min-width: 48em) {
	 .responsive-table tbody {
		 display: table-row-group;
	}
}
 .responsive-table tbody tr {
	 margin-bottom: 1em;
}
 @media (min-width: 48em) {
	 .responsive-table tbody tr {
		 display: table-row;
		 border-width: 1px;
	}
}
 .responsive-table tbody tr:last-of-type {
	 margin-bottom: 0;
}
 @media (min-width: 48em) {
	 .responsive-table tbody tr:nth-of-type(even) {
		 background-color: rgba(0, 0, 0, .12);
	}
}
 .responsive-table tbody th[scope="row"] {
	 background-color: #08d;
	 color: white;
}
 @media (min-width: 30em) {
	 .responsive-table tbody th[scope="row"] {
		 border-left: 1px solid white;
		 border-bottom: 1px solid white;
	}
}
 @media (min-width: 48em) {
	 .responsive-table tbody th[scope="row"] {
		 background-color: transparent;
		 color: rgba(0, 0, 1, );
		 text-align: left;
	}
}
 .responsive-table tbody td {
	 text-align: right;
}
 @media (min-width: 48em) {
	 .responsive-table tbody td {
		 border-left: 1px solid white;
		 border-bottom: 1px solid white;
		 text-align: center;
	}
}
 @media (min-width: 48em) {
	 .responsive-table tbody td:last-of-type {
		 border-right: 1px solid white;
	}
}
 .responsive-table tbody td[data-type=currency] {
	 text-align: center;
}
 .responsive-table tbody td[data-title]:before {
	 content: attr(data-title);
	 float: left;
	 font-size: 0.8em;
	 color: rgba(0, 0, 0, .54);
}
 @media (min-width: 30em) {
	 .responsive-table tbody td[data-title]:before {
		 font-size: 0.9em;
	}
}
 @media (min-width: 48em) {
	 .responsive-table tbody td[data-title]:before {
		 content: none;
	}
}
.button-green{
  width: 70px;
  height: 30px;
  border-radius: 36px;
  box-shadow: 0 -5px 16px -4px rgba(0, 167, 254, 0.1), 0 5px 8px 1px rgba(93, 211, 109, 0.2);
  background: linear-gradient(#26C778 0%, #32CA76 67%, #5DD36D 100%);;
  color: #FFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  position:relative;
  cursor:  pointer;
}

.button-red{
  width: 70px;
  height: 30px;
  border-radius: 36px;
  box-shadow: 0 -5px 8px -4px rgba(255, 0, 0, 0.1), 0 5px 8px 1px rgba(247, 147, 30, 0.2);
  background: linear-gradient(#FF3038 0%, #FF3829 67%, #FF4314 100%);;
  color: #FFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  position:relative;
  cursor:  pointer;
}

@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
  }
  
  :root {
	--card-height: 40vh;
	--card-width: calc(var(--card-height) / 1.5);
  }
  
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 40vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
 
  @property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
  }
  
  :root {
	--card-height: 40vh;
	--card-width: calc(var(--card-height) / 1.5);
  }
  
  .card-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: auto;
	grid-gap: 20px;
	padding-left: 5%;
	padding-right: 5%;
	grid-auto-flow: dense;
	height: auto;
	row-gap: 50px;
  }
  
  .card_common{
	background: #15172b;
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	color: rgb(88 199 250 / 0%);
	cursor: pointer;
	font-family: cursive;
  }
  
  .card_common img{
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .card_common:hover {
	color: #08d;
	transition: color 1s;
  }
  
  .card_common:hover:before {
	animation: none;
	opacity: 0;
  }
  
  .card_common::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 8px;
	background-image: linear-gradient(
	  var(--rotate),
	  #04FF0C 25%,
	  #015523 75%
	);
	position: absolute;
	z-index: -1;
	top: -1%;
	left: -2%;
	animation: spin 2.5s linear infinite;
  }
  
  .card_common:hover:before, .card_common:hover:after {
	animation:reverse;
	opacity: 80;
  }
  
  .card_rare{
	background: #15172b;
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	color: rgb(88 199 250 / 0%);
	cursor: pointer;
	font-family: cursive;
  }
  
  .card_rare img{
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .card_rare:hover {
	color: #08d;
	transition: color 1s;
  }
  
  .card_rare:hover:before {
	animation: none;
	opacity: 0;
  }
  
  .card_rare::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 8px;
	background-image: linear-gradient(
	  var(--rotate),
	  #0575E6 25%,
	  #021B79 75%
	);
	position: absolute;
	z-index: -1;
	top: -1%;
	left: -2%;
	animation: spin 2.5s linear infinite;
  }
  
  .card_rare:hover:before, .card_rare:hover:after {
	animation:reverse;
	opacity: 80;
  }
  
  .card_epic{
	background: #15172b;
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	color: rgb(88 199 250 / 0%);
	cursor: pointer;
	font-family: cursive;
  }
  
  .card_epic img{
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .card_epic:hover {
	color: #08d;
	transition: color 1s;
  }
  
  .card_epic:hover:before {
	animation: none;
	opacity: 0;
  }
  
  .card_epic::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 8px;
	background-image: linear-gradient(
	  var(--rotate),
	  #FE0CA7 25%,
	  #a335ee 75%
	);
	position: absolute;
	z-index: -1;
	top: -1%;
	left: -2%;
	animation: spin 2.5s linear infinite;
  }
  
  .card_epic:hover:before, .card_epic:hover:after {
	animation:reverse;
	opacity: 80;
  }
  
  .card_legendary{
	background: #15172b;
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	color: rgb(88 199 250 / 0%);
	cursor: pointer;
	font-family: cursive;
  }
  
  .card_legendary img{
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .card_legendary:hover {
	color: #08d;
	transition: color 1s;
  }
  
  .card_legendary:hover:before {
	animation: none;
	opacity: 0;
  }
  
  .card_legendary::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 8px;
	background-image: linear-gradient(
	  var(--rotate),
	  #ff8000 25%,
	  #FFD900 75%
	);
	position: absolute;
	z-index: -1;
	top: -1%;
	left: -2%;
	animation: spin 2.5s linear infinite;
  }
  
  .card_legendary:hover:before, .card_legendary:hover:after {
	animation:reverse;
	opacity: 80;
  }
  
  .card {
	background: #15172b;
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	color: rgb(88 199 250 / 0%);
	cursor: pointer;
	font-family: cursive;
  }
  
  
  .card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  
  .card:hover {
	color: #08d;
	transition: color 1s;
  }
  
  .card:hover:before {
	animation: none;
	opacity: 0;
  }
  
  .card::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 8px;
	background-image: linear-gradient(
	  var(--rotate),
	  #ff8000,
	  #a335ee 75%,
	  #0070dd,
	  #50C878
	);
	position: absolute;
	z-index: -1;
	top: -1%;
	left: -2%;
	animation: spin 2.5s linear infinite;
  }
  
  .card:hover:before, .card:hover:after {
	animation:reverse;
	opacity: 80;
  }
  
  @keyframes spin {
	0% {
	  --rotate: 0deg;
	}
	100% {
	  --rotate: 360deg;
	}
  }